# Question 1: Convert XML to a SQL database

Create two tables named `LOW` and `HIGH`, each corresponding to data given for the low and high temperature range.
Each should have the following column names:

- `SPECIES_NAME`
- `TLOW`
- `THIGH`
- `COEFF_1`
- `COEFF_2`
- `COEFF_3`
- `COEFF_4`
- `COEFF_5`
- `COEFF_6`
- `COEFF_7`

Populate the tables using the XML file you created in last assignment. If you did not complete the last assignment, you may also use the `example_thermo.xml` file.

`TLOW` should refer to the temperature at the low range and `THIGH` should refer to the temperature at the high range.  For example, in the `LOW` table, $H$ would have `TLOW` at $200$ and `THIGH` at $1000$ and in the `HIGH` table, $H$ would have `TLOW` at $1000$ and `THIGH` at $3500$.

For both tables, `COEFF_1` through `COEFF_7` should be populated with the corresponding coefficients for the low temperature data and high temperature data.

In [3]:
import xml.etree.ElementTree as ET
import sqlite3
import pandas as pd
import numpy as np
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

In [4]:
tree = ET.parse('example_thermo.xml')
root = tree.getroot()
species = root.find("phase")
species_array = species.find("speciesArray").text
species_name = species_array.split()

species_name

['H', 'O', 'OH', 'H2', 'O2', 'H2O', 'HO2', 'H2O2', 'N2', 'Hp', 'Op']

In [5]:
dic = {}
for specie in root.findall("speciesData"):
    for s in specie.findall("species"):
        name = s.get("name")
        dic[name] = {}
        coeffs = s.find("thermo").findall("NASA")
        T_max = []
        T_min = []
        coeff = []
        for c in coeffs:
            T_max.append(c.get("Tmax"))
            T_min.append(c.get("Tmin"))   
            coeff.append(c.find("floatArray").text.strip().split(','))
        dic[name]["TMAX"] = T_max
        dic[name]["TMIN"] = T_min
        dic[name]["coeffs"] = coeff

In [6]:
dic

{'H': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['2.50000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 2.54716270E+04',
    ' -4.60117608E-01'],
   ['2.50000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 2.54716270E+04',
    ' -4.60117638E-01']]},
 'H2': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['3.29812431E+00',
    ' 8.24944174E-04',
    ' -8.14301529E-07',
    ' -9.47543433E-11',
    ' 4.13487224E-13',
    ' -1.01252087E+03',
    ' -3.29409409E+00'],
   ['2.99142337E+00',
    ' 7.00064411E-04',
    ' -5.63382869E-08',
    ' -9.23157818E-12',
    ' 1.58275179E-15',
    ' -8.35033997E+02',
    ' -1.35511017E+00']]},
 'H2O': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['3.38684249E+00',
    ' 3.47498246E-03',
    ' -6.35469633E-06',
    ' 6.96858127E-09',
    ' -2.50658847E-12',
    ' -3.02081133E+04',
    ' 2.59023285E+00'],
   ['2.67214561E+00',
    ' 3.05629289E-03',
    ' -8.73026011E-07',
    ' 1.20099639E-10',
    ' -6.39161787E-15',
    ' -2.98992090E+04',
    ' 6.86281681E+00']]},
 'H2O2': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['3.38875365E+00',
    ' 6.56922581E-03',
    ' -1.48501258E-07',
    ' -4.62580552E-09',
    ' 2.47151475E-12',
    ' -1.76631465E+04',
    ' 6.78536320E+00'],
   ['4.57316685E+00',
    ' 4.33613639E-03',
    ' -1.47468882E-06',
    ' 2.34890357E-10',
    ' -1.43165356E-14',
    ' -1.80069609E+04',
    ' 5.01136959E-01']]},
 'HO2': {'TMAX': ['1000.0', '3500.0'],
  'TMIN': ['200.0', '1000.0'],
  'coeffs': [['4.30179801E+00',
    ' -4.74912051E-03',
    ' 2.11582891E-05',
    ' -2.42763894E-08',
    ' 9.29225124E-12',
    ' 2.94808040E+02',
    ' 3.71666245E+00'],
   ['4.01721090E+00',
    ' 2.23982013E-03',
    ' -6.33658150E-07',
    ' 1.14246370E-10',
    ' -1.07908535E-14',
    ' 1.11856713E+02',
    ' 3.78510215E+00']]},
 'Hp': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['1.64243522',
    ' 2.89759059E-04',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' -4.69510297E+00',
    ' -11.14833393E+00'],
   ['1.64243522',
    ' 2.89759059E-04',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' -4.69510297E+00',
    ' -11.14833393E+00']]},
 'N2': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['0.03298677E+02',
    ' 0.01408240E-01',
    ' -0.03963222E-04',
    ' 0.05641515E-07',
    ' -0.02444855E-10',
    ' -0.01020900E+05',
    ' 0.03950372E+02'],
   ['0.02926640E+02',
    ' 0.01487977E-01',
    ' -0.05684761E-05',
    ' 0.01009704E-08',
    ' -0.06753351E-13',
    ' -0.09227977E+04',
    ' 0.05980528E+02']]},
 'O': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['2.94642878E+00',
    ' -1.63816649E-03',
    ' 2.42103170E-06',
    ' -1.60284319E-09',
    ' 3.89069636E-13',
    ' 2.91476445E+04',
    ' 2.96399498E+00'],
   ['2.54205966E+00',
    ' -2.75506191E-05',
    ' -3.10280335E-09',
    ' 4.55106742E-12',
    ' -4.36805150E-16',
    ' 2.92308027E+04',
    ' 4.92030811E+00']]},
 'O2': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['3.21293640E+00',
    ' 1.12748635E-03',
    ' -5.75615047E-07',
    ' 1.31387723E-09',
    ' -8.76855392E-13',
    ' -1.00524902E+03',
    ' 6.03473759E+00'],
   ['3.69757819E+00',
    ' 6.13519689E-04',
    ' -1.25884199E-07',
    ' 1.77528148E-11',
    ' -1.13643531E-15',
    ' -1.23393018E+03',
    ' 3.18916559E+00']]},
 'OH': {'TMAX': ['1000.0', '6000.0'],
  'TMIN': ['200.0', '1000.0'],
  'coeffs': [['4.12530561E+00',
    ' -3.22544939E-03',
    ' 6.52764691E-06',
    ' -5.79853643E-09',
    ' 2.06237379E-12',
    ' 3.34630913E+03',
    ' -6.90432960E-01'],
   ['2.86472886E+00',
    ' 1.05650448E-03',
    ' -2.59082758E-07',
    ' 3.05218674E-11',
    ' -1.33195876E-15',
    ' 3.68362875E+03',
    ' 5.70164073E+00']]},
 'Op': {'TMAX': ['1000.0', '5000.0'],
  'TMIN': ['300.0', '1000.0'],
  'coeffs': [['1.64243522',
    ' 2.89759059E-04',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' -4.69510297E+00',
    ' -14.46768276E+00'],
   ['1.64243522',
    ' 2.89759059E-04',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' 0.00000000E+00',
    ' -4.69510297E+00',
    ' -14.46768276E+00']]}}

In [7]:
db = sqlite3.connect('HW10.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS HIGH")
cursor.execute("DROP TABLE IF EXISTS LOW")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE HIGH (
               SPECIES_NAME TEXT PRIMARY KEY NOT NULL, 
               TLOW FLOAT, 
               THIGH FLOAT, 
               COEFF_1 FLOAT,
               COEFF_2 FLOAT,
               COEFF_3 FLOAT,
               COEFF_4 FLOAT,
               COEFF_5 FLOAT,
               COEFF_6 FLOAT,
               COEFF_7 FLOAT)''')

cursor.execute('''CREATE TABLE LOW (
               SPECIES_NAME TEXT PRIMARY KEY NOT NULL, 
               TLOW FLOAT, 
               THIGH FLOAT, 
               COEFF_1 FLOAT,
               COEFF_2 FLOAT,
               COEFF_3 FLOAT,
               COEFF_4 FLOAT,
               COEFF_5 FLOAT,
               COEFF_6 FLOAT,
               COEFF_7 FLOAT)''')

db.commit() # Commit changes to the database

In [8]:
def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = []
    for i, col_name in enumerate(cols):
        framelist.append((col_name, [col[i] for col in q]))
    return pd.DataFrame.from_items(framelist)

In [9]:
for key, value in dic.items():
    vals_to_insert_low = (key, float(value["TMIN"][0]), float(value["TMAX"][0]), float(value["coeffs"][0][0]), \
                           float(value["coeffs"][0][1]), float(value["coeffs"][0][2]), \
                           float(value["coeffs"][0][3]), float(value["coeffs"][0][4]), \
                           float(value["coeffs"][0][5]), float(value["coeffs"][0][6]))
    cursor.execute('''INSERT INTO LOW 
                  (SPECIES_NAME, TLOW, THIGH, COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert_low)

In [10]:
LOW_cols = [col[1] for col in cursor.execute("PRAGMA table_info(LOW)")]
query_LOW = '''SELECT * FROM LOW'''
viz_tables(LOW_cols, query_LOW)

   SPECIES_NAME   TLOW   THIGH   COEFF_1   COEFF_2       COEFF_3       COEFF_4       COEFF_5       COEFF_6    COEFF_7
0             H  300.0  1000.0  2.500000  0.000000  0.000000e+00  0.000000e+00  0.000000e+00  25471.627000  -0.460118
1             O  300.0  1000.0  2.946429 -0.001638  2.421032e-06 -1.602843e-09  3.890696e-13  29147.644500   2.963995
2            OH  200.0  1000.0  4.125306 -0.003225  6.527647e-06 -5.798536e-09  2.062374e-12   3346.309130  -0.690433
3            H2  300.0  1000.0  3.298124  0.000825 -8.143015e-07 -9.475434e-11  4.134872e-13  -1012.520870  -3.294094
4            O2  300.0  1000.0  3.212936  0.001127 -5.756150e-07  1.313877e-09 -8.768554e-13  -1005.249020   6.034738
5           H2O  300.0  1000.0  3.386842  0.003475 -6.354696e-06  6.968581e-09 -2.506588e-12 -30208.113300   2.590233
6           HO2  200.0  1000.0  4.301798 -0.004749  2.115829e-05 -2.427639e-08  9.292251e-12    294.808040   3.716662
7          H2O2  300.0  1000.0  3.388754  0.006569 -1.485013e-07 -4.625806e-09  2.471515e-12 -17663.146500   6.785363
8            N2  300.0  1000.0  3.298677  0.001408 -3.963222e-06  5.641515e-09 -2.444855e-12  -1020.900000   3.950372
9            Hp  300.0  1000.0  1.642435  0.000290  0.000000e+00  0.000000e+00  0.000000e+00     -4.695103 -11.148334
10           Op  300.0  1000.0  1.642435  0.000290  0.000000e+00  0.000000e+00  0.000000e+00     -4.695103 -14.467683

In [11]:
for key, value in dic.items():
    vals_to_insert_high = (key, float(value["TMIN"][1]), float(value["TMAX"][1]), float(value["coeffs"][1][0]), \
                          float(value["coeffs"][1][1]), float(value["coeffs"][1][2]), \
                          float(value["coeffs"][1][3]), float(value["coeffs"][1][4]), \
                          float(value["coeffs"][1][5]), float(value["coeffs"][1][6]))
    cursor.execute('''INSERT INTO HIGH 
                  (SPECIES_NAME, TLOW, THIGH, COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert_high)

In [12]:
HIGH_cols = [col[1] for col in cursor.execute("PRAGMA table_info(HIGH)")]
query_HIGH = '''SELECT * FROM HIGH'''
viz_tables(HIGH_cols, query_HIGH)

   SPECIES_NAME    TLOW   THIGH   COEFF_1   COEFF_2       COEFF_3       COEFF_4       COEFF_5       COEFF_6    COEFF_7
0             H  1000.0  5000.0  2.500000  0.000000  0.000000e+00  0.000000e+00  0.000000e+00  25471.627000  -0.460118
1             O  1000.0  5000.0  2.542060 -0.000028 -3.102803e-09  4.551067e-12 -4.368051e-16  29230.802700   4.920308
2            OH  1000.0  6000.0  2.864729  0.001057 -2.590828e-07  3.052187e-11 -1.331959e-15   3683.628750   5.701641
3            H2  1000.0  5000.0  2.991423  0.000700 -5.633829e-08 -9.231578e-12  1.582752e-15   -835.033997  -1.355110
4            O2  1000.0  5000.0  3.697578  0.000614 -1.258842e-07  1.775281e-11 -1.136435e-15  -1233.930180   3.189166
5           H2O  1000.0  5000.0  2.672146  0.003056 -8.730260e-07  1.200996e-10 -6.391618e-15 -29899.209000   6.862817
6           HO2  1000.0  3500.0  4.017211  0.002240 -6.336581e-07  1.142464e-10 -1.079085e-14    111.856713   3.785102
7          H2O2  1000.0  5000.0  4.573167  0.004336 -1.474689e-06  2.348904e-10 -1.431654e-14 -18006.960900   0.501137
8            N2  1000.0  5000.0  2.926640  0.001488 -5.684761e-07  1.009704e-10 -6.753351e-15   -922.797700   5.980528
9            Hp  1000.0  5000.0  1.642435  0.000290  0.000000e+00  0.000000e+00  0.000000e+00     -4.695103 -11.148334
10           Op  1000.0  5000.0  1.642435  0.000290  0.000000e+00  0.000000e+00  0.000000e+00     -4.695103 -14.467683

# Question 2: `WHERE` Statements

1. Write a `Python` function `get_coeffs` that returns an array of 7 coefficients.  
   
   The function should take in two parameters: 1.) `species_name` and 2.) `temp_range`, an indicator variable ('low' or 'high') to indicate whether the coefficients should come from the low or high temperature range.  
   The function should use `SQL` commands and `WHERE` statements on the table you just created in Question 1 (rather than taking data from the XML directly).
```python
def get_coeffs(species_name, temp_range):
    ''' Fill in here'''
    return coeffs
```

2. Write a python function `get_species` that returns all species that have a temperature range above or below a given value. The function should take in two parameters: 1.) `temp` and 2.) `temp_range`, an indicator variable ('low' or 'high').

  When temp_range is 'low', we are looking for species with a temperature range lower than the given temperature, and for a 'high' temp_range, we want species with a temperature range higher than the given temperature.

  This exercise may be useful if different species have different `LOW` and `HIGH` ranges.

  And as before, you should accomplish this through `SQL` queries and where statements.

```python
def get_species(temp, temp_range):
    ''' Fill in here'''
    return coeffs
```

In [13]:
def get_coeffs(species_name, temp_range):
    if temp_range == 'high':
        query = '''SELECT COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7 FROM HIGH WHERE SPECIES_NAME="{}"'''.format(species_name)
    elif temp_range == 'low':
        query = '''SELECT COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7 FROM LOW WHERE SPECIES_NAME="{}"'''.format(species_name)
    coeffs = cursor.execute(query).fetchall()
    return coeffs

In [14]:
get_coeffs('O', 'high')

[(2.54205966,
  -2.75506191e-05,
  -3.10280335e-09,
  4.55106742e-12,
  -4.3680515e-16,
  29230.8027,
  4.92030811)]

In [15]:
def get_species(temp, temp_range):
    if temp_range == 'high':
        query = '''SELECT SPECIES_NAME FROM HIGH WHERE THIGH > "{}"'''.format(temp)
    elif temp_range == 'low':
        query = '''SELECT SPECIES_NAME FROM LOW WHERE TLOW < "{}"''' .format(temp)
    names = cursor.execute(query).fetchall()
    return names

In [16]:
get_species(250, 'low')

[('OH',), ('HO2',)]

# Question 3: `JOIN` STATEMENTS

Create a table named `ALL_TEMPS` that has the following columns:

- `SPECIES_NAME`
- `TEMP_LOW`
- `TEMP_HIGH`

This table should be created by joining the tables `LOW` and `HIGH` on the value `SPECIES_NAME`.

1. Write a `Python` function `get_range` that returns the range of temperatures for a given species_name.

The range should be computed within the `SQL` query (i.e. you should subtract within the `SELECT` statement in the `SQL` query).
```python
def get_range(species_name):
    '''Fill in here'''
    return range
```

Note that `TEMP_LOW` is the lowest temperature in the `LOW` range and `TEMP_HIGH` is the highest temperature in the `HIGH` range.

In [14]:
cursor.execute("DROP TABLE IF EXISTS ALL_TEMPS")
cursor.execute('''CREATE TABLE ALL_TEMPS (
               SPECIES_NAME TEXT PRIMARY KEY NOT NULL, 
               TEMP_LOW FLOAT, 
               TEMP_HIGH FLOAT)''')

# cursor.execute('''INSERT INTO ALL_TEMPS SELECT SPECIES_NAME, TLOW, THIGH FROM LOW''')

db.commit()

In [15]:
query = '''SELECT ALL_TEMPS.SPECIES_NAME, ALL_TEMPS.TEMP_LOW, HIGH.THIGH FROM ALL_TEMPS INNER JOIN HIGH ON ALL_TEMPS.SPECIES_NAME = HIGH.SPECIES_NAME'''
cursor.execute(query)

In [16]:
ALL_cols = [col[1] for col in cursor.execute("PRAGMA table_info(ALL_TEMPS)")]
query_ALL = '''SELECT * FROM ALL_TEMPS'''
viz_tables(ALL_cols, query_ALL)

Empty DataFrame
Columns: [SPECIES_NAME, TEMP_LOW, TEMP_HIGH]
Index: []

In [17]:
def get_range(species_name):
    query = '''SELECT TEMP_LOW, TEMP_HIGH FROM ALL_TEMPS WHERE SPECIES_NAME = species_name'''
    temp_range = cursor.execute(query).fetchall()
    
    return temp_range

In [18]:
get_range('O')

[]

In [17]:
db.commit()
db.close()